.card-title {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2;
   /* Change this value to limit the number of lines */
   max-height: 3em;
   /* Change this value to adjust the max height of the title */
}

.copyright {
    margin-top: 70px;
    padding-top: 40px;
    font-size: 15px;
    text-align: center;
}
.zoom {
   transition: transform .2s;
}

.zoom:hover {
   transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
 }
 .image-text{
  position: absolute;
  top: 75%;
  left: 20%;
  transform: translate(-50%, -50%);
  color: white;
 }

.text-active {
   color: black; /* Set the text color to black */
   font-weight: bold; /* Set the font weight to bold */
}
